body {
    background-color: blanchedalmond;
    padding: 0;
}

.container {
    width: 52%;
    background-color: white;
    margin-top: 30px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.navbar-brand {
    float: left;
    background-color: teal;
    padding: 15px;
}

#name-header {
    color: white;
    margin: 0;
    font-size: 30px;
}

img {
    float: left;
}

.my-form {
    margin-left: 0;
}

.contact {
    margin-left: 12px;
}

.row {
    margin-bottom: 30px;
}

.col-4 {
    margin-right: -10px;
}

.btn {
    color: white;
    background-color: teal;
}

.list {
    left: 60px;
}